<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/css/siteTheme.css" />
	</environment>

	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/siteTheme.min.css" asp-append-version="true" />
	</environment>

	@await RenderSectionAsync("Styles", false)
</head>

<body>
	<main class="container">
		@RenderBody()
	</main>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

