@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<article class="row border rounded py-4">
    @if (Model.IsProductAny)
    {
        <article class="d-flex flex-wrap align-items-center justify-content-center align-content-center">
            @await foreach (Demo.Models.Product product in Model.Products)
            {
                <section class="m-1 p-1 border rounded col-3 text-center">
                    <img src="@product.FileName" alt="@product.Title" class="img-fluid img-thumbnail" />
                    <p class="display-4 text-info">@product.Title</p>
                    <p class="text-success display-4">@product.Price.ToString("#,00")</p>
                </section>
            }
        </article>
    }
    else
    {
        <p class="text-center text-warning display-3">Not Found Product items .. !!!!</p>
    }
</article>